.marketplace-section {
  padding: 5vh 5%;
}

.marketplace-container {
  max-width: var(--container-width);
  margin: 0 auto;
}

.product-card {
  text-align: center;
  width: 10vw;
}

.product-image-placeholder {
  width: 10vw;
  background: #374151;
  border-radius: 3vw;
  transition: var(--transition);
}
